body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --purple-color:#7C5399;
  --white-color:#ffffff;
  --blue-color:#5e15b7;
  --border-color:#D0D5DD80;
  --black-light-color:#0C0C0C80;
  --black-color:#000000;

}

.text-purple{
  color: #7C5399;
}